// This file is safe to edit. Once it exists it will not be overwritten


{{ if .Copyright -}}// {{ comment .Copyright -}}{{ end }}


package {{ .APIPackage }}

import (
  "github.com/tinyci/ci-agents/handlers"

  {{ range .DefaultImports}}{{printf "%q" .}}
  {{end}}
  {{- range $key, $value := .Imports}}{{$key}} {{ printf "%q" $value}}
  {{end}}
)

// HandlerConfig is for on-disk configuration of the service. It will be parsed
// on boot and passed into each HandlerFunc.
type HandlerConfig struct { }


// MakeHandlerConfig takes a handlers.ServiceConfig and spits out a HandlerConfig.
func MakeHandlerConfig(sc config.ServiceConfig) *HandlerConfig {
  return &HandlerConfig{}
}

// Validate allows you to perform your own custom validations on the configuration.
func (hc HandlerConfig) Validate(h *handlers.H) error {
  return nil
}

// CustomInit allows you to perform any final magic before boot.
func (hc HandlerConfig) CustomInit(h *handlers.H) error {
  return nil
}

// DBConfigure configures the database if necessary.
func (hc HandlerConfig) DBConfigure(h *handlers.H) error {
  return nil
}

// Configure allows you to configure the routes, in particular. Setting the
// processing functions here will be a big part of your day job.
func (hc HandlerConfig) Configure(router handlers.Routes) error {
  return nil
}
